@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
  color : #fff;
}
#particles-js {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.7;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
}

.img img {
  width: 90px;
  height: 90px;
  border: 2px solid #333;
  border-radius: 8px;
}

.text h1 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.text p {
  color: #ccc;
  font-size: 12px;
  letter-spacing: 4px;
  font-family: 'Bricolage Grotesque';
}

.card-style {
  width: 300px;
  height: 450px;
  background-color: #111;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;
  margin: 40px;
}

.card-style:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.title {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: 600;
}

.description {
  color: #bbb;
  font-size: 1rem;
  line-height: 1.4;
}

.card-style .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-link {
  text-decoration: none;
}

.link-rede {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 42px;
}

.link-rede h2 {
  color: #ddd;
}

.link-rede ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.link-rede a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  transition: 0.4s ease;
}

.link-rede a:hover {
  color: #6a00ff;
  transform: scale(1.1);
}

footer {
  margin-top: 20px;
  width: 100%;
  background-color: #111;
  opacity: 0.9;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: #fff;
  transition: ease 0.3s;
}

footer a:hover {
  color: #6a00ff;
}

